ENVIRONMENT="development"
FLASK_SECRET_KEY=ec9d79167481230e95ab170e9ec4de7052f00de3cde4e67f6a927a0699fe008b
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=docid-db
DB_PORT=5432
DB_PROD_NAME=docid_prod
DB_DEV_NAME=docid_dev
DB_TEST_NAME=docid_test
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DEV_NAME}
DATABASE_TEST_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_TEST_NAME}
DATACITE_API_URL=https://api.test.datacite.org
DATACITE_API_USER=
DATACITE_API_PASSWORD=""
CORDRA_API_URL="https://localhost:8443"
DOI_API_URL="https://doi.org/api/"
RAID_API_URL="https://app.test.raid.org.au/"
CROSSREF_API_URL="https://api.crossref.org"
EAN_API_URL="https://api.ean-search.org/api"
EISSN_API_URL="https://road.issn.org/"
HANDLE_API_URL="https://hdl.handle.net/"
ROR_API_URL="https://api.ror.org/"
ORCID_API_URL=""
ARK_API_URL=""
ARXIV_API_URL=""
BIBCODE_API_URL=""
IGSN_API_URL=""
ISSN_API_URL=""
ISTC_API_URL=""
LISSN_API_URL=""
LSID_API_URL=""
PMID_API_URL=""
PURL_API_URL=""
UPC_API_URL=""
